@font-face {
    src: url('../fonts/BLMelody-Regular.woff');
    font-family: BLMelody;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url('../fonts/BLMelody-Medium.woff');
    font-family: BLMelody;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    src: url('../fonts/BLMelody-Bold.woff');
    font-family: BLMelody;
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: BLMelody, sans-serif;
}